body{
  background-color: #8DA1B9;
}
h1{
  color: #006D77;
  font-size: 400%;
  text-decoration: underline;
  text-decoration-color: #28AFB0
}
p{
  color: #006D77;
  font-size:200%
}
h3{
  color: #83C5BE;
  font-size:150%;
  text-decoration: underline;
  text-decoration-color: #8FA6CB;
  
}
img{
  width: 25%;
    border-style: double;
    border-color: #E6EBE0;
    border-width: 10 px;
}
iframe{
    border-style: double;
    border-color: #E6EBE0;
    border-width: 10 px;
}
