body{
  background-color: #8DA1B9;
}
h1{
  color: #006D77;
  font-size: 400%;
  text-decoration: underline
}
p{
  color: #006D77;
  font-size:200%
}
h3{
  color: #B6DCFE;
  font-size: 200%;
  text-decoration:underline;
    
}
h4{
  color: #A6CFD5;
  font-size: 150%;
}
h2{
  color: #26408B;
  font-size: 275%;
  text-decoration: underline;
}
ul{
   list-style-type: none;
  text-align:center;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 20px;
  color: #B4E33D;
  font-family: "Copperplate", Fantasy;
  text-decoration: none;
  border:double;  
}
li a:hover{
  background-color:#006D77;
}
  
}
img{
  width: 50%;
    border-style: double;
    border-color: #E6EBE0;
    border-width: 10 px;
}
iframe{
    border-style: double;
    border-color: #E6EBE0;
    border-width: 10 px;
}
